button {
  
  display: inline-block;
	
}

input {
  
  display: inline-block;  
}




.custButton {
	
	
  display: inline-block;
  border: 1px solid;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: silver;
	
	
}




.custButton:hover {
	
	
  border-color: SteelBlue;
  background-color: LightBlue;
	
	
}


#uiNavbar {
    
    
  top: 0;
  margin:0;
  border-bottom: 2px solid;
  list-style: none;
  width:100%;
  z-index: 100;
  position: fixed;
  display: inline-block;
  background-color: white;
  padding: 0px;

}

#headerbox {
  

  
  width:100%;
  height: 70px;
  background-color: white;
  padding: 0px; 
    
}

::-webkit-input-placeholder {
   text-align: center;
}



#uiNavbar li:hover{

  background-color: grey;
  cursor: pointer;

  

}


#uiNavbar li{

  display: inline-block;
  position: relative;
  margin: 0px;
 
}



#navMenu {

  float: right;
}



#threadBank {
	
  position: relative;
  margin-top: 0px;
  padding: 3%;

  height: auto;


	
}



#imgFood {

  background-image: url("imgButtons/food.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgFood {

  background-image: url("imgButtons/food.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgGroceries {

  background-image: url("imgButtons/groceries.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}



#imgAccomodations {

  background-image: url("imgButtons/accommodations.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgTransport {

  background-image: url("imgButtons/transport.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgTaxi{

  background-image: url("imgButtons/taxi.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgEntertainment {

  background-image: url("imgButtons/entertainment.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgCleaning_service {

  background-image: url("imgButtons/cleaning_service.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgUtils {

  background-image: url("imgButtons/utils.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}


#imgPrepaid {

  background-image: url("imgButtons/prepaid.png");
  background-size: cover;
  margin-bottom: 20px;
  width: 118px;
  height: 87px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}





#navBack {

  float: left;
}



#navAccount {

  float: right;


}

a, a:link, a:hover, a:active {

  text-decoration: none;
  color: black;

}


#thread {

  background-color: white;
  margin-top: 40px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 600px; 
  height: auto;
  border: 1px solid;

 
}


#threadHeader {
    
  position: relative;
  margin-top: 0px;
  margin: 0px;
  padding: 3%;

  height: auto;



}




#textBox_topic{
  width: 500px;
  height: 40px;
  display: inline;
  float: left;

  margin-right: 10px;
  font-size: 18px;
  resize: none;


}




#textBox:active {
  border-color: blue;

}



#imgFemClient {

  background-image: url("img/imgFemAccount.png");
  background-size: cover;
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;

  display: inline;
  float: left; 
  padding: 2%;

}


#imgMaleClient {

  background-image: url("img/imgManAccount.png");
  background-size: cover;
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  display: inline;
  float: left; 
  padding: 2%;

}



#thread_header {

  margin-left: 7%;
  margin-top: 2px;
}


#thread_Body {

  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px
}


.maxContent {

  float: left;
  margin-right: 5%;
  margin-left: 3%;

}

.txtForBtn {

  float: left;
  display: inline;
  margin-top: 3px;
  margin-right: 5%;
  margin-left: 1%;

}



#txtTopicSend {

  float: left;
  display: inline;
  margin-top: 15px;
  margin-left: 1%;

}




#thread:hover {

  background-color: silver;
  cursor: pointer;

}

